# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/ئ من
/broadcast/**/dry-run/

# Docs
docs/

# vim
*.sw*

# jetbrains
.idea/

# Misc
.DS_Store
.env
.env*
!.env.example
*.log
